CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Premium=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_NAMESPACES=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_btdiag=m
CONFIG_PACKAGE_libCsrCrypto=m
CONFIG_PACKAGE_libmeshPsPorting=m
CONFIG_PACKAGE_csrMeshGw=m
CONFIG_PACKAGE_csrMeshGwRefApp=m
CONFIG_PACKAGE_csrMeshGwTestApp=m
CONFIG_PACKAGE_csrLotApp=m
CONFIG_PACKAGE_zigbee_efr32=m 
CONFIG_PACKAGE_thread=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_charlietalk=m
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-readlink=y
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-sierra-driver=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-qca-wigig-driver=y
CONFIG_PACKAGE_QCA_WIGIG_NSS_SUPPORT=n
CONFIG_PACKAGE_lrzsz=m
CONFIG_PACKAGE_mdadm=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_perl=m
CONFIG_PACKAGE_perlbase-base=m
CONFIG_PACKAGE_perlbase-config=m
CONFIG_PACKAGE_perlbase-essential=m
CONFIG_PACKAGE_perlbase-getopt=m
CONFIG_PACKAGE_qca-fst-manager=m
CONFIG_PACKAGE_qca-plc-fw=m
CONFIG_PACKAGE_qca-plc-serv=m
CONFIG_PACKAGE_qca-wigig-debug-tools=y
CONFIG_PACKAGE_qca-wigig-tools=y
CONFIG_PACKAGE_qca-wigig-wfa-sigma=y
CONFIG_PACKAGE_qca-libwigigaoa=m
CONFIG_PACKAGE_remserial=m
# CONFIG_shadow-all is not set
CONFIG_PACKAGE_shadow-common=m
CONFIG_PACKAGE_shadow-useradd=m
CONFIG_PACKAGE_shadow-userdel=m
CONFIG_PACKAGE_shadow-utils=m
CONFIG_PACKAGE_sierra-cm=m
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_wigig-firmware=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_PACKAGE_luci-app-atf=m
CONFIG_PACKAGE_luci-app-lte=m
CONFIG_PACKAGE_lldpd=y

# additional packages for WFA
# Crypto
CONFIG_PACKAGE_sodium=y
CONFIG_PACKAGE_srp=y
CONFIG_PACKAGE_tommath=y
#
# SSL
#
CONFIG_PACKAGE_libgnutls=y
#
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpcsclite=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_isc-dhcp-client-ipv6=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_procps=y
CONFIG_PACKAGE_procps-free=y
CONFIG_PACKAGE_procps-pgrep=y
CONFIG_PACKAGE_procps-pkill=y
CONFIG_PACKAGE_procps-pmap=y
CONFIG_PACKAGE_procps-ps=y
CONFIG_PACKAGE_procps-pwdx=y
CONFIG_PACKAGE_procps-skill=y
CONFIG_PACKAGE_procps-slabtop=y
CONFIG_PACKAGE_procps-snice=y
CONFIG_PACKAGE_procps-tload=y
CONFIG_PACKAGE_procps-top=y
CONFIG_PACKAGE_procps-vmstat=y
CONFIG_PACKAGE_procps-w=y
CONFIG_PACKAGE_procps-watch=y

#enable python for krack testing
CONFIG_PACKAGE_python=y
CONFIG_PACKAGE_python-psutil=y
CONFIG_PACKAGE_scapy=y
