# CONFIG_PACKAGE_aq-fw-download is not set
# CONFIG_PACKAGE_kmod-aq_phy is not set
# CONFIG_PACKAGE_kmod-ata-ahci-platform is not set
# CONFIG_PACKAGE_kmod-ath is not set
# CONFIG_PACKAGE_kmod-ath11k is not set
# CONFIG_PACKAGE_kmod-clk-test is not set
# CONFIG_PACKAGE_kmod-crypto-ocf is not set
# CONFIG_PACKAGE_kmod-crypto-qcrypto is not set
# CONFIG_PACKAGE_kmod-ipv6 is not set
# CONFIG_PACKAGE_kmod-mac80211 is not set
# CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi is not set
# CONFIG_PACKAGE_kmod-qca-nss-cfi-ocf is not set
# CONFIG_PACKAGE_kmod-qca-nss-crypto is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-gre is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-igs is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-klips is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-xfrm is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2 is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-map-t is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-match is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-mirror is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-mscs is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-netlink is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-link is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pptp is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-profile is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6 is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm-premium is not set
# CONFIG_PACKAGE_kmod-qca-nss-ppe-bridge-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-ppe-vlan-mgr is not set
# CONFIG_PACKAGE_kmod-qca-rfs is not set
# CONFIG_PACKAGE_kmod-qca_85xx_sw is not set
# CONFIG_PACKAGE_kmod-sound-soc-ipq is not set
# CONFIG_PACKAGE_profilerd is not set
# CONFIG_PACKAGE_qca-nss-drv is not set
# CONFIG_PACKAGE_qca-nss-fw-cp-retail is not set
# CONFIG_PACKAGE_qca-nss-fw-eip-cp is not set
# CONFIG_PACKAGE_qca-nss-fw-eip-hk is not set
# CONFIG_PACKAGE_qca-nss-fw-hk-retail is not set
# CONFIG_PACKAGE_qca-nss-fw-mp-retail is not set
# CONFIG_PACKAGE_qca-thermald is not set
# CONFIG_PACKAGE_qca-time-services is not set
# CONFIG_PACKAGE_qcmbr-netlink is not set
# CONFIG_PACKAGE_qmsct_client is not set
CONFIG_PACKAGE_qca-nss-macsec=y
CONFIG_PACKAGE_qca-hostap-macsec=y
CONFIG_PACKAGE_qca-wpa-supplicant-macsec=y
# CONFIG_PACKAGE_nlcfg is not set
# CONFIG_PACKAGE_libnl-nl is not set
# CONFIG_PACKAGE_qca-nss-ecm-premium is not set
# CONFIG_PACKAGE_kmod-qca-nss-cfi is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm-wifi-plugin is not set
# CONFIG_PACKAGE_libnl-nss is not set
# CONFIG_PACKAGE_kmod-qca-nss-clients is not set
CONFIG_PACKAGE_kmod-qca-nss-ecm-nonss=y
# CONFIG_PACKAGE_kmod-rmnet-core is not set
# CONFIG_PACKAGE_kmod-rmnet-ctl is not set
# CONFIG_PACKAGE_kmod-rmnet-nss is not set
# CONFIG_DEFAULT_qca-wifi-fw-hw3-10.4-asic is not set
# CONFIG_PACKAGE_qca-wifi-fw-hw4-10.4-asic is not set
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile-nonss=y
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile=n
