CONFIG_TARGET_ipq95xx=y
CONFIG_TARGET_ipq95xx_generic=y
CONFIG_TARGET_ipq95xx_generic_QSDK_Default=y
CONFIG_TARGET_BOARD="ipq95xx"
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
# CONFIG_CNSSD_SUPPORTS_BREAKPAD is not set
CONFIG_CNSS2_MODULE=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_EMEX_CTRL=y
CONFIG_FEATURE_IPQ_IOT_SUPPORT=y
CONFIG_FEATURE_IPQ_PROVISION_SUPPORT=y
CONFIG_GIT_MIRROR="https://git.codelinaro.org/clo/qsdk/"
CONFIG_HOSTAPD_SUPPORTS_BREAKPAD=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_IMAGEOPT=y
CONFIG_IPERF_ENABLE_MULTICAST=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
CONFIG_KERNEL_DEBUG_ATOMIC_SLEEP=y
CONFIG_KERNEL_DEBUG_GPIO=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_KEYS is not set
# CONFIG_KERNEL_SWAP is not set
# CONFIG_KERNEL_WERROR is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LOCALMIRROR="https://sources.cdn.openwrt.org/"
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
# CONFIG_PACKAGE_btdiag is not set
# CONFIG_PACKAGE_iwinfo is not set
# CONFIG_PACKAGE_kmod-mtdtests is not set
# CONFIG_PACKAGE_kmod-qca-wigig-driver is not set
# CONFIG_PACKAGE_ltp is not set
# CONFIG_PACKAGE_qca-fst-manager is not set
# CONFIG_PACKAGE_qca-IOT is not set
# CONFIG_PACKAGE_qca-plc-fw is not set
# CONFIG_PACKAGE_qca-plc-serv is not set
# CONFIG_PACKAGE_qca-wigig-debug-tools is not set
# CONFIG_PACKAGE_qca-wigig-tools is not set
# CONFIG_PACKAGE_qca-wigig-wfa-sigma is not set
CONFIG_PKG_ASLR_PIE_ALL=y
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
CONFIG_PREINITOPT=y
CONFIG_RM_QCA_PROP=y
# CONFIG_shadow-all is not set
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_PREINIT_TIMEOUT=0
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_WIFI_LOG_UTILS=y
# CONFIG_WIFI_TARGET_WIFI_2_0 is not set
CONFIG_WPA_MSG_MIN_PRIORITY=0
# CONFIG_SUPPORT_WIFISON_EXT_LIB is not set
