CONFIG_TARGET_ipq95xx=y
CONFIG_TARGET_ipq95xx_generic=y
CONFIG_TARGET_ipq95xx_generic_QSDK_OpenSync=y
CONFIG_TARGET_BOARD="ipq95xx"
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_KMSG_SYSLOG=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_NTPD_SERVER is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_ROTATE_LOGFILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_CFG=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_GET is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_PUT is not set
# CONFIG_BUSYBOX_CONFIG_FTPD is not set
# CONFIG_BUSYBOX_CONFIG_FTPGET is not set
CONFIG_BUSYBOX_CONFIG_GETTY=y
# CONFIG_BUSYBOX_CONFIG_IP is not set
CONFIG_BUSYBOX_CONFIG_KLOGD=y
CONFIG_BUSYBOX_CONFIG_LSPCI=y
CONFIG_BUSYBOX_CONFIG_MPSTAT=y
CONFIG_BUSYBOX_CONFIG_NOHUP=y
# CONFIG_BUSYBOX_CONFIG_NTPD is not set
CONFIG_BUSYBOX_CONFIG_PKILL=y
# CONFIG_BUSYBOX_CONFIG_SWAPOFF is not set
# CONFIG_BUSYBOX_CONFIG_SWAPON is not set
CONFIG_BUSYBOX_CONFIG_SYSLOGD=y
# CONFIG_BUSYBOX_CONFIG_TELNET is not set
# CONFIG_BUSYBOX_CONFIG_TFTPD is not set
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_WATCH=y
CONFIG_CLEAN_IPKG=y
CONFIG_CNSS2_MODULE=y
# CONFIG_CNSSD_SUPPORTS_BREAKPAD is not set
CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_DOT1X_SUPPORT is not set
CONFIG_DROPBEAR_CHACHA20POLY1305=n
CONFIG_DROPBEAR_ED25519=y
CONFIG_EMEX_CTRL=y
CONFIG_FEATURE_IPQ_IOT_SUPPORT=y
CONFIG_FEATURE_IPQ_PROVISION_SUPPORT=y
# CONFIG_FEED_bluetopia is not set
# CONFIG_FEED_em_ext_ctrl is not set
# CONFIG_FEED_optic_apps_oss is not set
# CONFIG_FEED_optic_apps_prop is not set
# CONFIG_FEED_optic_drivers_oss is not set
# CONFIG_FEED_optic_drivers_prop is not set
# CONFIG_FEED_qca_rsrcmgr is not set
CONFIG_GIT_MIRROR="https://git.codelinaro.org/clo/qsdk/"
CONFIG_HOSTAPD_SUPPORTS_BREAKPAD=y
# CONFIG_IB is not set
CONFIG_IB_STANDALONE=y
CONFIG_IMAGEOPT=y
CONFIG_IPERF_ENABLE_MULTICAST=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
CONFIG_KERNEL_DEBUG_ATOMIC_SLEEP=y
CONFIG_KERNEL_DEBUG_GPIO=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
# CONFIG_KERNEL_KEYS is not set
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_PROC_PAGE_MONITOR=y
CONFIG_KERNEL_PSTORE_CONSOLE=y
CONFIG_KERNEL_PSTORE_PMSG=y
CONFIG_KERNEL_PSTORE_RAM=y
CONFIG_KERNEL_PSTORE=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_KERNEL_WERROR is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://codelinaro.jfrog.io/artifactory/codelinaro-qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_LXC_NETWORKING=y
CONFIG_MOSQUITTO_LWS=n
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
# CONFIG_OPENSSL_ENGINE_BUILTIN is not set
# CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM is not set
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSYNC_NL_SUPPORT=y
CONFIG_OPENSYNC_ONBOARD_PSK="welcome8"
CONFIG_OPENSYNC_ONBOARD_SSID="we.piranha"
CONFIG_OPENSYNC_TARGET="ALDER_WAIKIKI"
# CONFIG_OVS_SKIP_ACCEL_ACTION is not set
# CONFIG_PACKAGE_accel_pptpd is not set
# CONFIG_PACKAGE_adb is not set
CONFIG_PACKAGE_afc=m
# CONFIG_PACKAGE_alsa is not set
# CONFIG_PACKAGE_alsa-lib is not set
# CONFIG_PACKAGE_alsa-utils is not set
CONFIG_PACKAGE_apps-scripts=m
CONFIG_PACKAGE_avahi-utils=m
# CONFIG_PACKAGE_bash is not set
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_bt_config=m
CONFIG_PACKAGE_btdaemon=m
# CONFIG_PACKAGE_btdiag is not set
CONFIG_PACKAGE_cifsmount=m
CONFIG_PACKAGE_clk-debug=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-readlink=m
CONFIG_PACKAGE_coreutils-stty=m
# CONFIG_PACKAGE_cryptsetup is not set
CONFIG_PACKAGE_data-exec-protection-test=m
# CONFIG_PACKAGE_ddns-scripts is not set
CONFIG_PACKAGE_dhrystone=m
CONFIG_PACKAGE_dmesg=m
CONFIG_PACKAGE_dosfstools=m
CONFIG_PACKAGE_dsi_netctrl_test=m
# CONFIG_PACKAGE_easycwmp is not set
CONFIG_PACKAGE_ebtables=m
CONFIG_PACKAGE_em_ext_ctrl=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_gpio-debug=m
# CONFIG_PACKAGE_gpiod-tools is not set
CONFIG_PACKAGE_gpsclient=m
# CONFIG_PACKAGE_gpsd-clients is not set
# CONFIG_PACKAGE_gpsd is not set
CONFIG_PACKAGE_hota=m
CONFIG_PACKAGE_i2c-rw-utils=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_ip-passthru=m
CONFIG_PACKAGE_ipqcm_client=m
CONFIG_PACKAGE_ipqcm_server=m
# CONFIG_PACKAGE_iptables-mod-nat-extra is not set
#CONFIG_PACKAGE_iptables-mod-nflog is not set
#CONFIG_PACKAGE_iptables-mod-nfqueue is not set
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_isc-dhcp-client-ipv6=m
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kickstart=m
CONFIG_PACKAGE_kmod-block2mtd=m
# CONFIG_PACKAGE_kmod-bootconfig is not set
CONFIG_PACKAGE_kmod-coresight-stream-sock=m
CONFIG_PACKAGE_kmod-crypto-qce=m
CONFIG_PACKAGE_kmod-crypto-seccrypt=m
CONFIG_PACKAGE_kmod-crypto-test=m
CONFIG_PACKAGE_kmod-deadlock=m
CONFIG_PACKAGE_kmod-dm=m
# CONFIG_PACKAGE_kmod-e1000e is not set
CONFIG_PACKAGE_kmod-fs-cifs=m
# CONFIG_PACKAGE_kmod-fs-msdos is not set
# CONFIG_PACKAGE_kmod-fs-ntfs is not set
# CONFIG_PACKAGE_kmod-fs-vfat is not set
# CONFIG_PACKAGE_kmod-fuse is not set
CONFIG_PACKAGE_kmod-fw-auth-test=m
# CONFIG_PACKAGE_kmod-gpio-pcf857x is not set
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-hwmon-lm75=m
# CONFIG_PACKAGE_kmod-ipt-nat-extra is not set
#CONFIG_PACKAGE_kmod-ipt-nflog is not set
#CONFIG_PACKAGE_kmod-ipt-nfqueue is not set
# CONFIG_PACKAGE_kmod-ks_bridge is not set
# CONFIG_PACKAGE_kmod-l2tp-eth is not set
# CONFIG_PACKAGE_kmod-l2tp-ip is not set
# CONFIG_PACKAGE_kmod-leds-gpio is not set
CONFIG_PACKAGE_kmod-lkdtm=m
CONFIG_PACKAGE_kmod-llcc_perfmon=m
CONFIG_PACKAGE_kmod-mhi_fuse_blower_mod=m
CONFIG_PACKAGE_kmod-mhitest_mod=m
# CONFIG_PACKAGE_kmod-mtdtests is not set
# CONFIG_PACKAGE_kmod-pps is not set
# CONFIG_PACKAGE_kmod-ptp is not set
CONFIG_PACKAGE_kmod-qca-cnss-stream=m
# CONFIG_PACKAGE_kmod-qca-nss-ppe-l2tp is not set
# CONFIG_PACKAGE_kmod-qca-nss-ppe-mirror-test is not set
# CONFIG_PACKAGE_kmod-qca-nss-ppe-netlink is not set
# CONFIG_PACKAGE_kmod-qca-nss-ppe-qdisc is not set
# CONFIG_PACKAGE_kmod-qca-ovsmgr is not set
# CONFIG_PACKAGE_kmod-qca-wigig-driver is not set
CONFIG_PACKAGE_kmod-qmi_sample_client=m
CONFIG_PACKAGE_kmod-qmi-test-app=m
CONFIG_PACKAGE_kmod-rmnet-core=m
CONFIG_PACKAGE_kmod-rmnet-ctl=m
CONFIG_PACKAGE_kmod-security-assurance-test=m
CONFIG_PACKAGE_kmod-sierra-driver=m
CONFIG_PACKAGE_kmod-testssr=m
CONFIG_PACKAGE_kmod-test-udelay=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-chipidea-qti=m
CONFIG_PACKAGE_kmod-usb-phy-ci-qti=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-veth=m
# CONFIG_PACKAGE_libdevmapper is not set
# CONFIG_PACKAGE_libgmp is not set
CONFIG_PACKAGE_libkcapi=m
# CONFIG_PACKAGE_libnl-ppe is not set
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libwamr=m
# CONFIG_PACKAGE_libwpa2 is not set
# CONFIG_PACKAGE_linuxptp is not set
# CONFIG_PACKAGE_lldpd is not set
CONFIG_PACKAGE_lmbench-bw-file-rd=m
CONFIG_PACKAGE_lmbench-bw-mem=m
CONFIG_PACKAGE_lmbench-bw-mmap-rd=m
CONFIG_PACKAGE_lmbench-cache=m
CONFIG_PACKAGE_lmbench-lat-cmd=m
CONFIG_PACKAGE_lmbench-lat-fifo=m
CONFIG_PACKAGE_lmbench-lat-fs=m
CONFIG_PACKAGE_lmbench-lat-mem-rd=m
CONFIG_PACKAGE_lmbench-lat-mmap=m
CONFIG_PACKAGE_lmbench-lmdd=m
CONFIG_PACKAGE_lmbench=m
CONFIG_PACKAGE_lmbench-memsize=m
CONFIG_PACKAGE_lmbench-mhz=m
# CONFIG_PACKAGE_logd is not set
CONFIG_PACKAGE_lrzsz-ipq=m
# CONFIG_PACKAGE_lrzsz is not set
# CONFIG_PACKAGE_ltp is not set
# CONFIG_PACKAGE_luafilesystem is not set
CONFIG_PACKAGE_luci-app-atf=m
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-lte=m
# CONFIG_PACKAGE_luci-app-lxc is not set
# CONFIG_PACKAGE_luci-app-multiwan is not set
# CONFIG_PACKAGE_luci-app-openvpn is not set
# CONFIG_PACKAGE_luci-app-samba4 is not set
# CONFIG_PACKAGE_luci-app-samba is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
# CONFIG_PACKAGE_luci-base is not set
# CONFIG_PACKAGE_luci-compat is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_luci-lib-ip is not set
# CONFIG_PACKAGE_luci-lib-nixio is not set
# CONFIG_PACKAGE_luci-mod-admin-full is not set
# CONFIG_PACKAGE_luci-proto-ipv6 is not set
# CONFIG_PACKAGE_lvm2 is not set
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-auto=m
CONFIG_PACKAGE_lxc-cgroup=m
CONFIG_PACKAGE_lxc-checkconfig=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-destroy=m
CONFIG_PACKAGE_lxc-info=m
# CONFIG_PACKAGE_lxc is not set
CONFIG_PACKAGE_lxc-lua=m
CONFIG_PACKAGE_lxc-monitord=m
CONFIG_PACKAGE_lxc-start=m
CONFIG_PACKAGE_lxc-stop=m
# CONFIG_PACKAGE_mdadm is not set
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_memfeast=m
# CONFIG_PACKAGE_minicom is not set
CONFIG_PACKAGE_modem_monitor=m
# CONFIG_PACKAGE_mwan3 is not set
CONFIG_PACKAGE_nand-utils=m
# CONFIG_PACKAGE_nftables is not set
CONFIG_PACKAGE_NFT_WITH_JSON=y
# CONFIG_PACKAGE_ntfs-3g is not set
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
# CONFIG_PACKAGE_obuspa is not set
CONFIG_PACKAGE_omci-base=m
CONFIG_PACKAGE_omciibc=m
CONFIG_PACKAGE_omci=m
# CONFIG_PACKAGE_openssh-sftp-server is not set
# CONFIG_PACKAGE_openswan is not set
# CONFIG_PACKAGE_openvpn-easy-rsa is not set
# CONFIG_PACKAGE_openvpn-openssl is not set
# CONFIG_PACKAGE_p910nd is not set
CONFIG_PACKAGE_package_manager_agent=m
CONFIG_PACKAGE_pci-regdump=m
# CONFIG_PACKAGE_pciutils is not set
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_perl-parse-yapp=m
CONFIG_PACKAGE_pkcs11-provider=m
# CONFIG_PACKAGE_ppecfg is not set
CONFIG_PACKAGE_procps=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_qca-afc-daemon=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
# CONFIG_PACKAGE_qca-ezmesh-agentalg-ema is not set
# CONFIG_PACKAGE_qca-ezmesh-agent-ema is not set
# CONFIG_PACKAGE_qca-ezmesh-cmn-ema is not set
# CONFIG_PACKAGE_qca-ezmesh-ema is not set
# CONFIG_PACKAGE_qca-fst-manager is not set
# CONFIG_PACKAGE_qca-hapd-supp-macsec is not set
# CONFIG_PACKAGE_qca-hostap-macsec is not set
# CONFIG_PACKAGE_qca-IOT is not set
CONFIG_PACKAGE_qca-oss-pkcs11=m
# CONFIG_PACKAGE_qca-plc-fw is not set
# CONFIG_PACKAGE_qca-plc-serv is not set
CONFIG_PACKAGE_qca-qrtr=m
# CONFIG_PACKAGE_qca-rsrcmgr is not set
# CONFIG_PACKAGE_qca-rsrcmgr-secure-libs is not set
# CONFIG_PACKAGE_qca-wigig-debug-tools is not set
# CONFIG_PACKAGE_qca-wigig-tools is not set
# CONFIG_PACKAGE_qca-wigig-wfa-sigma is not set
# CONFIG_PACKAGE_qca-wpa-supplicant-macsec is not set
# CONFIG_PACKAGE_qca-wsplcd-init is not set
# CONFIG_PACKAGE_qca-wsplcd-map-ema is not set
CONFIG_PACKAGE_qdl=m
CONFIG_PACKAGE_qnicornd=m
CONFIG_PACKAGE_qnicorn_tests=m
CONFIG_PACKAGE_qrtr=m
CONFIG_PACKAGE_qti-pairing=m
CONFIG_PACKAGE_qti-provisioning=m
CONFIG_PACKAGE_qtip_server_linux=m
CONFIG_PACKAGE_qti-wifi-location=m
# CONFIG_PACKAGE_quagga is not set
# CONFIG_PACKAGE_remserial is not set
# CONFIG_PACKAGE_rp-pppoe-relay is not set
# CONFIG_PACKAGE_rp-pppoe-server is not set
# CONFIG_PACKAGE_rstp is not set
CONFIG_PACKAGE_secure_channel_onboarding=m
CONFIG_PACKAGE_shadow-common=m
CONFIG_PACKAGE_shadow-useradd=m
CONFIG_PACKAGE_shadow-userdel=m
# CONFIG_PACKAGE_shadow-utils is not set
CONFIG_PACKAGE_sierra-cm=m
# CONFIG_PACKAGE_sigma-dut-open is not set
CONFIG_PACKAGE_softsku_qwin_agent=m
CONFIG_PACKAGE_softsku_sdk=m
CONFIG_PACKAGE_stress=m
CONFIG_PACKAGE_strongswan-default=m
CONFIG_PACKAGE_strongswan-ipsec=m
# CONFIG_PACKAGE_strongswan is not set
CONFIG_PACKAGE_strongswan-mod-ctr=m
CONFIG_PACKAGE_strongswan-mod-gcm=m
CONFIG_PACKAGE_strongswan-mod-kdf=m
CONFIG_PACKAGE_strongswan-mod-openssl=m
CONFIG_PACKAGE_strongswan-mod-stroke=m
CONFIG_PACKAGE_strongswan-mod-uci=m
CONFIG_PACKAGE_stunnel=m
CONFIG_PACKAGE_swacl-if=m
CONFIG_PACKAGE_sw-hook=m
CONFIG_PACKAGE_qti-data-logger=m
CONFIG_PACKAGE_syslog-ng=m
CONFIG_PACKAGE_cJSON=m
CONFIG_PACKAGE_libcares=m
CONFIG_PACKAGE_libmosquitto-ssl=m
CONFIG_PACKAGE_librdkafka=m
CONFIG_PACKAGE_libwebsockets-openssl=m
CONFIG_PACKAGE_mem-pool=m
CONFIG_PACKAGE_mosquitto-ssl=m
# CONFIG_PACKAGE_tayga is not set
CONFIG_PACKAGE_tenureprobe=m
# CONFIG_PACKAGE_testAppUsingBreakpad is not set
CONFIG_PACKAGE_thread=m
CONFIG_PACKAGE_trex-drv=m
# CONFIG_PACKAGE_tune2fs is not set
CONFIG_PACKAGE_udev_scripts=m
CONFIG_PACKAGE_unzip=m
# CONFIG_PACKAGE_urngd is not set
# CONFIG_PACKAGE_usbutils is not set
CONFIG_PACKAGE_util-ubus=m
CONFIG_PACKAGE_uuidgen=m
# CONFIG_PACKAGE_valgrind is not set
CONFIG_PACKAGE_wigig-firmware=m
# CONFIG_PACKAGE_xl2tpd is not set
CONFIG_PACKAGE_zg-config=m
CONFIG_PKG_ASLR_PIE_ALL=y
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
CONFIG_PREINITOPT=y
# CONFIG_QCA_NSS_ECM_EXAMPLES_PCC is not set
CONFIG_RM_QCA_PROP=y
# CONFIG_shadow-all is not set
# CONFIG_SUPPORT_WIFISON_EXT_LIB is not set
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_PREINIT_TIMEOUT=0
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_WIFI_LOG_UTILS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
# CONFIG_WSPLCD_SUPPORT_11BE is not set
# CONFIG_WSPLCD_SUPPORT_CFG80211 is not set
